doctype html
html
head

body
  p Gracz 1: #{player1}
    br
    div#score1 0
    div#score_total1 0
  p Gracz 2: #{player2}
  .buttons
    button#roll_dice Rzucaj
    button#hold Starczy
  p Gramy do #{total_score}
script
  include ../public/javascripts/game_run.js
