doctype html
html
head

body
  p Hello, this is #{title}
  br
  form(action="/", method="POST")
    input(name="player1", type="text", placeholder="Gracz 1")
    br
    input(name="player2", type="text", placeholder="Gracz 2")
    br
    input(name="total_score", type="text", placeholder="50")
    button(type="submit") Gramy